* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 800;
    padding-left: 30px;
}

span {
    color: orangered
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 1em;
}

.navbar ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color:orangered;
}

section {
    height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.home-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px orangered;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 20px orangered,
                0 0 35px orangered;
}

.home-content h1 {
    font-size: 55px;
}

.home-content h2 {
    font-size: 35px;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn {
    border: none;
    border-radius: 40px;
    background-color: orangered;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.home-content .btn a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.home-content .btn:hover {
    background-color: white;
}

.home-content .btn a:hover {
    color: black;
}
