* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 800;
    padding-left: 30px;
}

span {
    color: orangered
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 1em;
}

.navbar ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color:orangered;
}

section {
    height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.home-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px orangered;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 20px orangered,
                0 0 35px orangered;
}

.home-content h1 {
    font-size: 55px;
}

.home-content h2 {
    font-size: 35px;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn {
    border: none;
    border-radius: 40px;
    background-color: orangered;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.home-content .btn a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.home-content .btn:hover {
    background-color: black;
    border: 1px solid orangered;
}

.about {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.about-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px orangered;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
     box-shadow: 0 0 20px orangered,
                 0 0 35px orangered;
}

.about-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.about-content h3 {
    font-size: 50px;
}

.about-content p {
    font-size: 16px;
}

.about-content .btn {
    border: none;
    border-radius: 20px;
    background-color: orangered;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}

.about-content a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.about-content .btn:hover{
    background-color: black;
    border: 1px solid orangered;
}

.skills {
    background-color: rgb(14, 13, 13);
    text-align: center;
}

.skills h3 {
    font-size: 50px;
}

.skills-content {
    text-align: center;
}

.skills-content ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.skills-content ul li {
    display: inline;
    margin: 0 1em;
    border: 1px solid transparent;
    background-color: orangered;
    border-radius: 40px;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}


.skills-content ul li:hover {
    background-color: black;
    border: 1px solid orangered;
}

.projects h3 {
    font-size: 50px;
    text-align: center;
}

#projects-container {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    margin-top: 30px;
}
.project-card {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px orangered;
    transition: 0.3s ease-in-out;
    gap: 10px;
}

.project-card:hover {
    box-shadow: 0 0 15px orangered,
                0 0 25px orangered;
    transform:scale(1.05);
}




